# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Mypy cache
.mypy_cache/
